*.js linguist-detectable=true
*.hbs linguist-detectable=true
*.json linguist-detectable=true
*.SCSS linguist-detectable=true
*.html linguist-detectable=false
*.xml linguist-detectable=false
*.csharp linguist-detectable=false
*.java linguist-detectable=false
